<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input
        #todoCreator
        class="new-todo"
        placeholder="Type new todo"
        autofocus
        type="text"
        [formControl]="newTodo"
        (keyup.enter)="addNewTodo()"
      />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main" *ngIf="todos.length !== 0">
      <ul class="todo-list">
        <ng-container *ngFor="let todo of todos; index as i;">
          <li
            [class.editing]="todo.isEditingMode"
            [ngClass]="[
              todo.completed ? 'completed' : ''
            ]"
          >
            <div class="view">
              <input
                class="toggle"
                type="checkbox"
                [checked]="todo.completed"
                (change)="handleTodoState($event, todo)"
                autofocus
              />
              <label (dblclick)="activateDeactivateEditingMode(todo, true)"> {{ todo.title }} </label>
              <button class="destroy" (click)="deleteTodo(i)"></button>
            </div>
            <input #editing class="edit" [value]="todo.title" (keyup.enter)="updateTitle($event, todo)"/>
          </li>
        </ng-container>
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer class="footer" *ngIf="todos.length !== 0">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong>{{ todos.length }}</strong> {{ todos.length === 1 ? 'item' : 'items' }} left</span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a routerLink="/" class="selected">All</a>
        </li>
        <li>
          <a routerLink="/pending">Pending</a>
        </li>
        <li>
          <a routerLink="/completed">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed" (click)="clearCompletedTodos()">Clear completed</button>
    </footer>
  </div>
</section>
